---
layout: default
---

<div class="home">
  {% for item in paginator.posts %}
  <article>
  {% include _partial/article_row.html %}
  <!--
    <div class="article-content">
      {% if item.excerpt %}
      {{ item.excerpt }}
      {% else %}
      {{ item.content }}
      {% endif %}
      <p class="article-more-link">
        {% if item.excerpt %}
          <a href="{{ site.baseurl }}{{ item.url }}#more">Read More</a>
        {% endif %}
     </p>
    </div>
  -->
  </article>
  {% endfor %}

  {% if paginator.posts.size > 1 %}
  <nav class="page-nav">
    {% if paginator.previous_page %}
    <a class="prev" rel="prev" href="{{ paginator.previous_page_path }}"><span></span>Prev</a>
    {% endif %}
    {% if paginator.page == 1 %}
    <span class="page-number current">1</span>
    {% else %}
    <a class="page-number" href="/">1</a>
    {% endif %}
    {% for i in (2..paginator.total_pages) %}
    {%if i == paginator.page %}
    <span class="page-number current">{{ i }}</span>
    {% else %}
    <a class="page-number" href="/page{{ i }}">{{ i }}</a>
    {% endif %}
    {% endfor %}
    {% if paginator.next_page %}
    <a class="next" rel="next" href="{{ paginator.next_page_path }}">Next<span></span></a>
    {% endif %}
  </nav>
  {% endif %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></p>
</div>

{% include sidebar.html %}
